<ion-header>
  <ion-navbar>
    <ion-title>{{this.modalPageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let item of modalPageItems">
    <ion-item>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </div>


  <ion-list lines="none" (ngSubmit)="logForm()">
    <form [formGroup]="myForm">
      <ion-item *ngFor="let control of myForm.controls | keyvalue">
        <ion-label>Ingredient...</ion-label>
        <ion-input required type="text" [formControlName]="control.key" placeHolder="Ingredient..."></ion-input>
        <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
      </ion-item>
    </form>

    <button ion-button expand="full" color="light" (click)="addControl()">Add Ingredient</button>

    <button ion-button block>Add Photo</button>
    <button ion-button type="submit" block>Save & Load Meal</button>
  </ion-list>


</ion-content>
