<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      <div *ngIf="modalPageTitle">{{this.modalPageTitle}}</div>
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div *ngFor="let item of modalPageItems">
    <ion-item>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Recipe Name...</ion-label>
      <ion-input required type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <form [formGroup]="myForm">
      <ion-item *ngFor="let control of myForm.controls | keyvalue">
        <ion-label>Ingredient...</ion-label>
        <ion-input required type="text" [formControlName]="control.key" placeHolder="Ingredient..."></ion-input>
        <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
      </ion-item>
    </form>

    <button ion-button expand="full" color="light" (click)="addControl()">Add Ingredient</button>

    <br>
    
    <ion-item>
      <ion-checkbox color="primary" id="addToMenu" [(ngModel)]="addToMenuCheckbox"></ion-checkbox>
      <ion-label>Add to menu?</ion-label>
    </ion-item>

    <br>

    <button ion-button expand="full" color="light" (click)="takeOrUploadPhoto()">Take or Upload Photo</button>

    <div *ngIf="imageData">
      <ion-label>Uploaded Image</ion-label>
      <img [src]="imageData">
    </div>
    
    <button style="float: left" ion-button (click)="saveMeal()">Save & Load Meal</button>
    <button style="float: right" (click)="doCancel()" ion-button data-dismiss="modal" color="light">Cancel</button>
  </ion-list>


</ion-content>
