<ion-header>
  <ion-navbar>
    <ion-title>
      Load & View Loaded Recipes
    </ion-title>
  </ion-navbar>
</ion-header>
  
  <ion-content>
   
    <button class="button" ion-button expand="block" (click)="loadRecipe()">Load Recipe</button>

    <ion-list>
      <h3 text-center *ngIf="isLoaded && !allItems">
        No recipes have been loaded yet.
      </h3>
      <ion-item-sliding *ngFor="let item of allItems; let i = index">
        <ion-item>
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
        <ion-item-options>
          <button
            (click)="viewDetails(item)"
            ion-button
            color="primary"
            icon-start
          >
            <ion-icon name="help"></ion-icon>
            Details
          </button>
          <button
            (click)="addToFavorites(item)"
            ion-button
            color="secondary"
            icon-start
          >
            <ion-icon name="heart-outline"></ion-icon>
            <span *ngIf="item.isFavorite">Fav</span>
            <span *ngIf="!item.isFavorite">Add Fav</span>
          </button>
          <button 
            (click)="addToMenu(item)"
            ion-button
            color="danger"
            icon-start
          >
            <ion-icon name="nutrition"></ion-icon>
            Add to Menu
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
   
  </ion-content>
