<ion-header>
  <ion-navbar>
    <ion-title>
      Favorites
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <h3 text-center *ngIf="favoriteItems.length === 0">
      Nothing on the menu yet
    </h3>
    <ion-item-sliding *ngFor="let favoriteItem of favoriteItems; let i = index">
      <ion-item>
        <ion-label>{{favoriteItem.name}}</ion-label>
      </ion-item>
      <ion-item-options>
        <button
          (click)="removeFromFavorites(favoriteItem.name, i)"
          ion-button
          color="secondary"
          icon-start
        >
          <ion-icon name="trash"></ion-icon>
          Remove Favorite
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
