<ion-header>
  <ion-navbar>
    <ion-title>
      Favorites
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <h3 text-center *ngIf="isLoaded && favoriteItems.length === 0">
      No favorites yet!  
    </h3>
    <ion-item-sliding *ngFor="let favoriteItem of favoriteItems; let i = index">
      <ion-item>
        <ion-label>{{favoriteItem.name}}</ion-label>
      </ion-item>
      <ion-item-options>
        <div *ngIf="!favoriteItem.onTheMenu">
        <button
          (click)="addToMenu(favoriteItem)"
          ion-button
          color="primary"
          icon-start
        >
            <ion-icon name="add-circle"></ion-icon><br>
            Add to Menu
          </button>
        </div>
        <button
          (click)="removeFromFavorites(favoriteItem)"
          ion-button
          color="secondary"
          icon-start
        >
          <ion-icon name="trash"></ion-icon>
          Remove Fav
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
