<ion-header>
  <ion-navbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h3 text-center *ngIf="isLoaded && reformattedItems.length === 0">
      Please add items to your menu for your shopping list.
    </h3>
    <ion-item class="masters" *ngFor="let item of reformattedItems">
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox slot="beginning" [(ngModel)]="!item.needToPurchase"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
