<ion-header>
  <ion-navbar>
    <ion-title>On The Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h3 text-center *ngIf="isLoaded && onTheMenuItems.length === 0">
      Nothing on the menu yet
    </h3>
    <ion-item-sliding *ngFor="let menuItem of onTheMenuItems; let i = index">
      <ion-item class="masters">
        <ion-label>{{menuItem.name}}</ion-label>
        <ion-icon *ngIf="menuItem.isFavorite" name="heart" item-right></ion-icon>
        <ion-icon *ngIf="menuItem.imageData" name="image" item-right></ion-icon>
      </ion-item>
      <ion-item-options>
        <button
          (click)="viewDetails(menuItem)"
          ion-button
          color="primary"
          icon-start
        >
          <ion-icon name="help"></ion-icon>
          Details
        </button>
        <button
          (click)="addToFavorites(menuItem)"
          ion-button
          color="secondary"
          icon-start
        >
          <ion-icon name="heart"></ion-icon>
          <span *ngIf="menuItem.isFavorite">Remove Fav</span>
          <span *ngIf="!menuItem.isFavorite">Fav</span>
        </button>
        <button
          (click)="removeFromMenu(menuItem, false)"
          ion-button
          color="danger"
          icon-start
        >
        <ion-icon name="close"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
