<ion-header>
  <ion-navbar>
    <ion-title>On The Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <p>12-10-20 7:08 pm</p>
    <h3 text-center *ngIf="onTheMenuItems.length === 0">
      Nothing on the menu yet
    </h3>
    <ion-item-sliding *ngFor="let menuItem of onTheMenuItems; let i = index">
      <ion-item>
        <ion-label>{{menuItem.name}}</ion-label>
      </ion-item>
      <ion-item-options>
        <button
          (click)="viewDetails(menuItem)"
          ion-button
          color="primary"
          icon-start
        >
          <ion-icon name="help"></ion-icon>
          Details
        </button>
        <button
          (click)="addToFavorites(menuItem)"
          ion-button
          color="secondary"
          icon-start
        >
          <ion-icon name="heart-outline"></ion-icon>
          <span *ngIf="menuItem.isFavorite">Remove Fav</span>
          <span *ngIf="!menuItem.isFavorite">Fav</span>
        </button>
        <button
          (click)="removeFromMenu(menuItem)"
          ion-button
          color="danger"
          icon-start
        >
        <ion-icon name="close"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
